.scheme {
    justify-content: center;
}

.schemeImg {
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

/* FIXME: hardcoded */
html[data-theme='dark'] .schemeImg {
    filter: invert(0.905) brightness(1) grayscale(100%) opacity(0.5);
}

@media screen and (max-width: 966px) {
    .schemeImg {
        width: 100%;
    }
}

.companies {
    --logoCardSize: 220px;
    --logoCardGap: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--logoCardSize), 1fr));
    grid-gap: var(--logoCardGap);
    width: 100%;
    padding: 40px 20%;
}

/* FIXME: fix later */
.companiesItem {
    align-self: center;
}

.companiesItemImg {
    width: 100%;
}

.companiesSubtitle {
    width: 100%;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

/* Protected from dark mode (and flickering) */
.companiesContainer {
    color: #1c1e21;
    background: #ffffff;
}

@media screen and (max-width: 966px) {
    .companies {
        --logoCardSize: 150px;
        --logoCardGap: 1rem;
    }
}
