.scheme {
    justify-content: center;
}

.schemeImg {
    padding-top: 1rem;
    padding-bottom: 4rem;
    width: 80%;
}

/* FIXME: hardcoded */
html[data-theme='dark'] .schemeImg {
    filter: invert(0.905) brightness(1.0) grayscale(100%) opacity(0.5);
}

@media screen and (max-width: 966px) {
    .schemeImg {
        width: 100%;
    }
}

.companies {
  /* Set later to "220px" when companies amound will be increased */
  --logoCardSize: 220px;
  --logoCardGap: 2rem;

  display: grid;
  width: 100%;
  padding: 40px 20%;
  grid-template-columns: repeat(auto-fill, minmax(var(--logoCardSize), 1fr));
  grid-gap: var(--logoCardGap);
}

/* FIXME: fix later */
.companiesItem {
    align-self: center;
}

.companiesItemImg {
    width: 100%;
}

.companiesSubtitle {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

/* Protected from dark mode (and flickering) */
.companiesContainer {
    background: #fff;
    color: #1c1e21;
}

@media screen and (max-width: 966px) {
    .companies {
      --logoCardSize: 150px;
      --logoCardGap: 1rem;
    }
}
