/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    position: relative;
    padding: 10rem 0;
    overflow: hidden;

    /* White also for dark-theme */
    color: #ffffff;

    /* height: 500px; */
    text-align: center;
    background: linear-gradient(45deg, var(--ifm-color-primary-grad1), var(--ifm-color-primary-grad2));
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.link {
    /* White also for dark-theme */
    color: #ffffff;
    opacity: 0.7;
    transition: 0.25s;

    &:hover {
        color: unset;
        text-decoration: unset;
        opacity: 0.4;
    }
}
