@import "@fontsource/overpass/400.css";
@import "@fontsource/ubuntu/400.css";
@import "@fontsource/ubuntu/700.css";
@import "./red.scss";
@import "./blue.scss";
@import "./green.scss";
@import "./chrome.scss";

:root {
    // Font styles
    --ifm-font-family-base: 'Ubuntu', system-ui, -apple-system, segoe ui, roboto, ubuntu, cantarell, noto sans, sans-serif, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --ifm-heading-font-family: 'Overpass', var(--ifm-font-family-base);
    --ifm-code-font-size: 95%;
    --ifm-h2-font-size: 1.75rem;
    // Base styles
    --ifm-button-color: #ffffff;
    --ifm-color-violet: #5c21dd;
}

// Restored values from old dark theme
html[data-theme=light] {
    --ifm-background-color: #f9f4f7;
    --ifm-background-surface-color: #f9f4f7;
}

html[data-theme=dark] {
    --ifm-background-color: #191315;
    --ifm-background-surface-color: #191315;

    // Adapt badges styles
    .badge--warning {
        --ifm-badge-background-color: var(--ifm-color-warning-dark);
    }
}

:root[data-theme=dark] [role=root][data-theme=chrome] [alt=logo] {
    filter: brightness(2) grayscale(1) !important;
}

:root[data-theme=light] [role=root][data-theme=chrome] [alt=logo] {
    filter: brightness(0.5) grayscale(1) !important;
}

.badge--violet {
    --ifm-badge-background-color: var(--ifm-color-violet);
    --ifm-badge-border-color: var(--ifm-badge-background-color);
}
