.root {
    --height: 4rem;

    height: var(--height);
    text-align: center;
    opacity: 0.5;
}

.rootThanks {
    /*
      Hack for easy impl "friendly non-shaking UX"
      https://github.com/feature-sliced/documentation/pull/339#discussion_r742779255
    */
    line-height: var(--height);
}

/* title */

.title {
    font-size: 1.4rem;
}

.titleLabel {
    margin-right: 0.5rem;
}

.subtitle {
    font-size: 0.9rem;
}

/* actions */

.action {
    padding: 0.5rem;
    margin: 0 0.2rem;
    background-color: var(--background-color-action);
    border-radius: 50%;
    transition: 0.25s;
}

.actionLike:hover {
    color: var(--color-like);
}

.actionDislike:hover {
    color: var(--color-dislike);
}

/* theme */

html[data-theme="light"] .root {
    --color-like: var(--ifm-color-success);
    --color-dislike: var(--ifm-color-danger);
    --background-color-action: var(--ifm-color-gray-300);
}

html[data-theme="dark"] .action {
    --color-like: var(--ifm-color-success-lighter);
    --color-dislike: var(--ifm-color-danger-lighter);
    --background-color-action: var(--ifm-color-gray-800);
}

@media (max-width: 420px) {
    .root {
        --height: 7rem;
    }

    .titleLabel {
        display: block;
    }
}
