:root {
    // --section-height: calc(100vh - var(--ifm-navbar-height));
    --section-height: calc(80vh - var(--ifm-navbar-height));
}

main {
    // padding: 0 7rem;
    padding: 0 20rem;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--section-height);
    // FIXME: [FSDCUR] temp border
    // border: 1px dashed var(--bg-color-secondary);
    margin: 8px;
    font-size: 1.5rem;

    // FIXME: [FSDCUR] resolve align
    &Text {
        flex-direction: column;
        align-items: unset;
    }
}

.cols {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--section-height);
}

.col {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--section-height);
    max-height: var(--section-height);
    // FIXME: [FSDCUR] temp border
    // border: 2px dashed var(--bg-color-secondary);
}

.profits {
    // &List {}
    .card {
        display: flex;
        // FIXME: [FSDCUR] resolve width
        width: 700px;
        margin-top: 64px;

        &Image {
            display: block;
            flex: 1 0 15%;
            width: 80px;
            height: 80px;
            // background: var(--bg-color-alt);
        }

        &Content {
            flex: 1 0 85%;
            // margin-left: 2.5rem;
            line-height: 1.875rem;

            & > p {
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }
    }
}

.ecosystem {
    position: relative;

    &List {
        max-height: var(--section-height);
        padding: 4rem;
        overflow: auto;
    }

    & a {
        width: 100%;
        padding: 3rem 2rem !important;
    }
}

.text {
    // padding: 6rem;
    font-size: 3.5rem;
    font-weight: 700;
}

.nowar {
    .flag {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-left: 0.75rem;
        background: linear-gradient(180deg, #2454ff 0%, #2454ff 50%, #ffe500 50%, #ffe600 100%);
        border-radius: 50%;
    }
}

.cta {
    display: flex;
    flex-direction: column;

    & .text {
        // padding: 0 6rem;
        // margin: 0 30rem;
        // text-align: center;
    }

    &Actions {
        display: flex;
        justify-content: flex-start;
        // margin: 0 6rem;

        & > a:not(:first-child) {
            margin-left: 1rem !important;
        }
    }
}
