:root {
    --section-height: calc(100vh - var(--ifm-navbar-height));
}

main {
    padding: 0 7rem;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--section-height);
    border: 2px dashed var(--bg-color-secondary);
}

.cols {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--section-height);
}

.col {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--section-height);
    max-height: var(--section-height);
    border: 2px dashed var(--bg-color-secondary);
}

.ecosystem {
    position: relative;

    &List {
        max-height: var(--section-height);
        padding: 4rem;
        overflow: auto;
    }

    & a {
        width: 100%;
        padding: 3rem 2rem !important;
    }
}

.demoText {
    padding: 6rem;
    font-size: 2rem;
}
