:root {
    --section-height: calc(100vh - var(--ifm-navbar-height));
}

main {
    padding: 0 4rem;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--section-height);
    border: 2px dashed var(--bg-color-secondary);
}

.cols {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--section-height);
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--section-height);
    border: 2px dashed var(--bg-color-secondary);
}

.demoText {
    padding: 6rem;
    font-size: 2rem;
}
