@media screen and (max-width: 450px) {
    .buttonGroup {
        display: block;
    }

    .buttonGroupItem {
        margin: 2px;
        border-radius: var(--ifm-button-border-radius) !important;
    }
}
