@media screen and (max-width: 450px) {
    .buttonGroup {
        display: block;   
    }

    .buttonGroupItem {
        border-radius: var(--ifm-button-border-radius) !important;
        margin: 2px;
    }
}