.root {
  height: 100%;
}

.preview {
  max-height: 175px;
  overflow: hidden;
  position: relative;
}

.ribbon {
  background: var(--ifm-color-primary);
  position: absolute;
  right: 0;
  top: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 4px 10px;
  min-width: 50px;
  text-align: center;
  z-index: 1;
}

.title {
  font-weight: 600;
}
