footer {
    --ifm-footer-background-color: var(--ifm-background-color) !important;
    --ifm-footer-color: var(--bg-color-alt) !important;
    --ifm-footer-link-color: var(--bg-color-alt) !important;
    --ifm-footer-title-color: var(--bg-color-alt) !important;
}
