/* https://docusaurus.io/docs/styling-layout */

:root {
    // Base styles
    --ifm-code-font-size: 95%;
    --ifm-button-color: #ffffff;
    --ifm-color-primary: #2b74d4;
    --ifm-color-primary-dark: #2768bf;
    --ifm-color-primary-darker: #2563b4;
    --ifm-color-primary-darkest: #1e5194;
    --ifm-color-primary-light: #4082d8;
    --ifm-color-primary-lighter: #4b89da;
    --ifm-color-primary-lightest: #6b9ee1;
    --ifm-color-primary-grad1: #29bedc;
    --ifm-color-primary-grad2: #517aed;
    --ifm-color-primary-neutral: #4a7ec2c6;
    --ifm-heading-font-family: "Overpass Variable",
        var(--ifm-font-family-base, sans-serif);
    --ifm-color-violet: #5c21dd;
}

// Restored values from old dark theme
html[data-theme="dark"] {
    --ifm-background-color: #18191a;
    --ifm-background-surface-color: #242526;

    // Adapt badges styles
    .badge--warning {
        --ifm-badge-background-color: var(--ifm-color-warning-dark);
    }
}

.badge--violet {
    --ifm-badge-background-color: var(--ifm-color-violet);
    --ifm-badge-border-color: var(--ifm-badge-background-color);
}
