.root {
    /* Protected from dark mode (and flickering) */
    color: var(--bg-color-alt);
    background: var(--ifm-background-color);
    border: 2px dashed var(--bg-color-secondary);

    &Container {
        width: 100%;
        padding: 0 1rem;
        overflow: hidden;
    }
}

.item {
    display: flex;
    align-items: center;
    margin: 0 20px;
    filter: grayscale(1);
    opacity: 0.8;
    transition: 0.25s;

    &:hover {
        filter: grayscale(0);
        opacity: 1;
    }
}

.image {
    height: 50px;
}

.addMe {
    width: 100%;
    padding-top: 40px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    
    a {
        color: var(--ifm-color-primary);
    }
}

// FIXME: [FSDCUR] Adapt companies logos for dark theme
[data-theme="dark"] .marquee {
    filter: invert(0.905) brightness(1.04) hue-rotate(180deg);
}

@media screen and (max-width: 800px) {
    .item {
        margin: 0 10px;
    }

    .image {
        height: 20px;
    }
}
