.root {
    /* Protected from dark mode (and flickering) */
    color: var(--bg-color-alt);
    background: var(--ifm-background-color);
    border: 2px dashed var(--bg-color-secondary);

    &Container {
        width: 100%;
        padding: 0 1rem;
        overflow: hidden;
    }
}

.item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 20px;
    background-color: var(--bg-color-light);
    filter: grayscale(1);
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: 0.25s;

    &:hover {
        filter: grayscale(0);
        opacity: 1;
    }
}

.image {
    height: 50px;
}

.addMe {
    width: 100%;
    padding-top: 40px;
    font-size: 12px;
    font-style: italic;
    text-align: center;

    a {
        color: var(--ifm-color-primary);
    }
}

@media screen and (max-width: 800px) {
    .item {
        margin: 0 10px;
    }

    .image {
        height: 20px;
    }
}
