.component {
    text-decoration: underline;
    padding: 0.75rem;
    font-size: 1.5rem;
    color: var(--bg-color-alt);
    display: flex;
    align-items: center;
    line-height: 1.875rem;

    &:hover, &:active, &:focus, &.active {
        background-color: var(--ifm-color-primary);
        color: var(--ifm-background-color);
    }
}

.key {
    background-color: var(--bg-color-alt);
    color: var(--ifm-background-color);
    padding: 4px;
    height: 28px;
    width: 28px;
    margin-right: 0.75rem;
    // FIXME: [FSDCORE] resolve bug 
    text-decoration-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}
