.root {
    position: fixed;
    bottom: 10px;
    left: 10px;
    transform: translateY(-50%);

    &Container {
        display: flex;
        flex-direction: column;

        & button {
            margin: 4px 0;
        }
    }
}

.switchColor {
    padding: 8px;
    border-radius: 50%;
    box-shadow: var(--ifm-alert-shadow);
}

.switchLogo {
    padding: 8px;
    background: #2964b3;
    border-color: #2964b3;
    border-radius: 50%;
    box-shadow: var(--ifm-alert-shadow);

    &:hover {
        background: #235598;
        border-color: #235598;
    }
}

.icon {
    font-size: 20px;
    color: #ffffff;
}
