.root {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.button {
    padding: 16px 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: var(--ifm-alert-shadow);
}

.icon {
    font-size: 20px;
    color: #ffffff;
}
