/* !important overridings because of react-cookie-consent selectors-specifity */

.root {
    color: var(--ifm-font-color-base) !important;
    background-color: var(--ifm-background-surface-color) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.button {
    padding: var(--ifm-button-padding-vertical) var(--ifm-button-padding-horizontal) !important;
    margin: 8px !important;
    color: var(--ifm-button-color) !important;
    background: var(--ifm-color-primary-dark) !important;
    border-radius: var(--ifm-button-border-radius) !important;
    transition: 0.25s;
}

.button:hover {
    opacity: 0.7;
}

@media (max-width: 460px) {
    .buttonWrapper {
        flex-grow: 1;
        text-align: center;
    }

    .content {
        margin-bottom: 4px !important;
        text-align: center;
    }
}
